{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	   <link rel="stylesheet" type="text/css" href="{%static 'EmployeeData/css/style.css' %} " >

</head>
<body>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete ?</p>

			<form action="{% url 'delete_order' item.id %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'User_list'  %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
</body>
</html>